body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
}

#main {
    /* background-color: rgb(230, 230, 230); */
    background-color: white;
    border-radius: 5px;
}

#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

